In [72]:
# import modules
import pandas as pd
import json

In [73]:
# set paths for files
json_path1 = "purchase_data.json"
json_path2 = "purchase_data2.json"

In [74]:
# Read the first dataframe
pymoli_1 = pd.read_json(json_path1)

In [75]:
# Read the second dataframe
pymoli_2 = pd.read_json(json_path2)

In [76]:
# Concatenate the two tables and re-index them
pymoli_full = pd.concat([pymoli_1,pymoli_2],ignore_index = True)

In [77]:
# Rename the "SN" column to that of "Player"
pymoli = pymoli_full.rename(columns={'SN':'Player'})

In [78]:
# Look for any incomplete rows (none found)
pymoli.count()

Age          858
Gender       858
Item ID      858
Item Name    858
Price        858
Player       858
dtype: int64

In [80]:
# Get the player count
total_players = pymoli["Player"].nunique()
total_players_table = pd.DataFrame({"Total Number of Players":[total_players]})
total_players_table

   Total Number of Players
0                      612

In [81]:
# Purchasing Analysis: Get the data
total_items = pymoli["Item Name"].nunique()
average_price = pymoli["Price"].mean()
total_purchases = len(pymoli)
total_revenue = pymoli["Price"].sum()

In [82]:
# Purchasing Analysis: Create a summary dataframe
summary_table = pd.DataFrame({"Number of Unique Items":[total_items],
                             "Average Purchase Price":[average_price],
                             "Total Number of Purchases":[total_purchases],
                             "Total Revenue":[total_revenue]})

In [83]:
# Purchasing Analysis: Format the dataframe by formatting numbers and rearranging columns
summary_table["Average Purchase Price"] = summary_table["Average Purchase Price"].map("${:.2f}".format)
summary_table["Total Revenue"] = summary_table["Total Revenue"].map("${:.2f}".format)
summary_tablef = summary_table[["Number of Unique Items","Average Purchase Price","Total Number of Purchases", "Total Revenue"]]
summary_tablef.head()

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,180,$2.93,858,$2514.43

In [172]:
# Gender Demographics: Create a new dataframe only including Player and Gender, remove duplicate player rows, then drop players
gender_table = pymoli[["Player","Gender"]]
gender_table.duplicated()
gender_unique = gender_table.drop_duplicates("Player")
gender_unique = gender_unique.drop(["Player"],axis=1)

In [182]:
# Gender Demographics: Get the gender counts of the unique players and the percentage of each compared to total unique players
gender_counts = gender_unique["Gender"].value_counts()
gender_counts_df = pd.DataFrame(gender_counts)
gender_counts_df = gender_counts_df.rename(columns={"Gender":"Total Count"})
gender_counts_df.index.names = ['Gender']
gender_counts_df['Percentage of Players'] = gender_counts_df['Total Count']/total_players

# Gender Demographics: Rearrange the columns and format the percentage column as a percentage
gender_counts_df['Percentage of Players'] = gender_counts_df['Percentage of Players'].map("{:.2%}".format)
gender_counts_format = gender_counts_df[['Percentage of Players','Total Count']]
gender_counts_format

                      Percentage of Players  Total Count
Gender
Male                                 80.88%          495
Female                               17.65%          108
Other / Non-Disclosed                 1.47%            9

In [ ]:
# Purchasing Analysis (gender)